header{
	font-size: 60px;
	color: black;
}

h1{
	font-size: 40px;
	color: black;
}

p{
	font-size: 40px;
	color: black;
}

body, body * { 
	font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, Times New Roman !important;
}